.header {
  display: flex;
  align-items: center;
  position: relative;

  width: 100%;
  padding: 10px;

  border-bottom: 1px solid #dfdcd8;

  &__title {
    font-size: 24px;
    padding-left: 10px;
  }

  &__logoContainer {
    max-width: 50px;
    display: flex;

    &__image {
      object-fit: fill;
    }
  }
}
